extends:
    - "google"
    - "eslint:recommended"
globals:
    describe: true
    it: true
env:
    es6: true
    node: true
    commonjs: true
    amd: true
parser: babel-eslint
parserOptions:
    sourceType: module
rules:
    "linebreak-style":
        - off
    "one-var": 0
    "indent":
        - error
        - 4
        - SwitchCase: 1
    "object-curly-spacing":
        - off
    "no-unused-vars":
        - warn
    "arrow-parens":
        - off
    "max-len":
        - off
    "brace-style":
        - error
        - stroustrup
    "eqeqeq":
        - off
    "no-lonely-if":
        - off
    "no-negated-condition":
        - off
    "space-before-function-paren":
        - error
        - anonymous: always
          named: never
    "camelcase":
        - warn
    "require-jsdoc":
        - off
    "new-cap":
        - warn
    "quotes":
        - error
        - single
    "no-multi-str":
        - warn
    "no-loop-func":
        - warn
    "comma-dangle":
        - off
    "no-console":
        - warn
    "no-case-declarations":
        - warn
